@import url("base.css");

/*Greetings Section */

.socialText {
	position: absolute;
	bottom: 15px;
	left: 15px;
	font-size: 1.2em;
}

.socialText i {
	font-size: 1.3em;
}

@media (max-width: 800px) {
	.socialText {
		position: unset;

	}
}

section.greetings h3.title {
	text-transform: none;
}

/*Eindruecke Section*/

.eindruecke {
	display: block;
}

.center {
	margin: 20px auto;
}

/*about Section*/

.about .grid li {
	margin: 20px;
	flex-basis: 40%;
	text-align: center;
	box-shadow: 0px 3px 6px rgba(158, 158, 158, 0.39);
	border-radius: 2%;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}


.about .grid li i {
	color: #1f7a1f70;

}

.about .grid a {
	color: inherit;
	opacity: inherit;
	display: block;
	padding: 50px;
}

.about .grid a:hover {
	cursor: pointer;
}

.about .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.about .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/*Vorstand Section*/

.vorstand .quote {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
}

.vorstand .quote img {
	width: 150px;
	height: 150px;
	border: 10px solid;
	border-color: #1f7a1f70;
	margin-right: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}



@media (max-width: 800px) {
	.vorstand .quote {
		font-size: 18px;
		margin: 15px 0;
	}

	.vorstand .author {
		font-size: 14px;
	}
}

.img-right {
	float: right;
}


.img-left {
	float: left;
}


#erwVorstand {
	font-size: 22px;
	font-weight: 300;
	line-height: 1.5;
	margin: 40px 0 25px;
	width: 90%;
	border: 5px solid #83cea5;
	padding: 10px;
}

#erwVorstand li {
	padding-top: 5px;
}

/*Contact Section*/

.openList {
	text-align: center;
	font-size: 1.2em;
}

.openList li {
	margin-bottom: 4px;

}

#address {
	margin-top: 15px;
}

#contactFlexContainer {
	display: flex;
	align-items: center;

}

#contactData {
	max-width: 50%;
	text-align: center;
	margin: 0 100px;
}

@media (max-width: 1000px) {
	.contact form input {
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}
}

#map {
	border: 7px solid;
	border-color: #1f7a1f70;
	margin-top: 10px;
	height: 350px;
	width: 350px;
}


@media(max-width: 800px) {
	#map {
		width: 80%;
	}
}

@media (max-width: 900px) {
	#contactFlexContainer {
		flex-direction: column;

	}
}