@import url("base.css");


/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

/* Step 2: Reference Individual Icons */
.login::before {
	font: var(--fa-font-solid);
	content: "\f007";
}


@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 24px;
	}

	.hero h3 {
		font-size: 16px;
	}
}


.lastEvent h1 {
	font: bold 60px;
	margin-bottom: 15px;
}

.content-left {
	flex: 1;
}

.content-right {
	flex: 1;
	display: flex;
	justify-content: center;
}

.content-right img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
}

ul.events li {
	margin: 10px;
	font-size:1.2rem;
}

ul.events .date {
	font-weight: bold;
}