@import url("base.css");

.jugendBilder {
	display: block;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.grid li {
	margin: 10px;
	flex-basis: 15%;
	text-align: center;
}
.grid li i {
    color: #1f7a1f70;
}

.grid li a h4 {
	font-size: 18px;
	margin: 10px 0;
}

.grid a {
	color: inherit;
}


.content .quote {
	line-height: 2;
	margin: 40px 0 25px;
	text-align: left;
}

.content .quote img {
	width: 200px;
	height: 200px;
	border: 5px solid;
	border-color: #1f7a1f70;
	margin-right: 10px;
}


