@import url("base.css");


section.schiesssport {
    align-items: flex-start;
}

section.schiesssport p {
    max-width: 1000px;
}



img {
    border-radius: 0%;
    width: 250px;
	height: 300px;
    margin: 10px;
    border: 5px solid;
    border-color: #1f7a1f70;
}

hr {
    align-self: center;
}

strong{
    display:inline !important;
}

#arr-right{
    position:absolute;
    right: 10px;
    bottom:50%;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    background-color: rgba(68, 78, 64, 0.39);

}

#arr-right:hover{
    cursor:pointer
}

#arr-left:hover{
    cursor:pointer
}

#arr-left{
    position:absolute;
    left: 10px;
    bottom:50%;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    background-color: rgba(68, 78, 64, 0.8)
}

.imgText {
    position: absolute;
    bottom: 60px;
    right: 60px;
    background-color: rgba(68, 78, 64, 0.8);
    border-radius: 4px;
    line-height: 1.5;
    padding: 20px;
    text-align: left;
    max-width: 400px;
    max-height: 300px;
    overflow-y: scroll;
}


.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }
  .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s ease;
  }

  #schiessSportImg {
    transition: background-image 1s ease;
    -webkit-transition: background-image 1s ease;
  }

  #schiessSportHeader{
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: rgba(68, 78, 64, 0.8);
    border-radius: 4px;
    padding:15px;
    
  }