@import url("base.css");

/* General Styles */

strong {
    display: inline !important;
}


/* Navigation Arrows */

#arr-right {
    position: absolute;
    right: 10px;
    bottom: 50%;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    background-color: rgba(68, 78, 64, 0.39);

}


#arr-left {
    position: absolute;
    left: 10px;
    bottom: 50%;
    padding: 15px 5px 15px 5px;
    border-radius: 5px;
    background-color: rgba(68, 78, 64, 0.8)
}

#arr-right:hover {
    cursor: pointer
}

#arr-left:hover {
    cursor: pointer
}


/* Text */

.imgText {
    position: absolute;
    bottom: 60px;
    right: 60px;
    background-color: rgba(68, 78, 64, 0.8);
    border-radius: 4px;
    line-height: 1.5;
    padding: 20px;
    text-align: left;
    max-width: 400px;
    max-height: 300px;
    overflow-y: scroll;
}

/* Images */

.visibleFade {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.hiddenFade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 1s ease;
}

#schiessSportImg {
    transition: background-image 1s ease;
    -webkit-transition: background-image 1s ease;
}

#schiessSportHeader {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: rgba(68, 78, 64, 0.8);
    border-radius: 4px;
    padding: 15px;

}